.carousel-caption h5{
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
	font-family: teko;
}
.carousel-caption a{
	text-transform: upperscase;
	background: aliceblue;
	padding: 2px 3px;
	display: inline-block;
	color: #000;
	margin-top: 5px;
}
.carousel-inner{
	background: aliceblue;
	padding: 35px
    border-radius: 25px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);	
}
.carousel-control{
	color: #000;
}
.carousel-indicator .active{
	background-color: #000;
}
h1{
	font-family: Myriad Pro;
	font-size: 25px;
}
.highlight-word-color{
	color:#f36525;
}
.nav{
	background-color:#882E88;
}
ul li{
  display:inline-block; 
  padding:0 7px; 
  position:relative;
  color:#f36525;
}
ul li:not(:last-child)::after{
  content:""; 
  border:1px solid #f36525;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.navbar-nav.ml-auto .nav-item .nav-link {
    color: #7C7C7C;
	font-family: Myriad Pro;
	font-size: 15px;
}
div {
  float: center;