
.carousel-inner{
	background: aliceblue;
	padding: 0px;
    border-radius: 0px;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.2);	
}
/*---------------------------------------------------------*/
h1{/*change font size of itza studios inc*/
	font-family: Myriad Pro;
	font-size: 28px;
	color:#7B7A7A;
}
.highlight-word-color{
	color:#f36525;
}
.highlight-word-below-itza{/*change font Propeties of DESIGN DRAFTING PERMIT*/
	color:#677958;
	font-family: Myriad Pro;
	font-size: 18px;
	font-weight: 580;
	font-variant: small-caps;
	letter-spacing: 4px;
	content: '\f067';
    margin:0 5px 0 -0px;	
}
/*---------------------------------------------------------*/
ul li:not(:last-child)::after{/*change lines btw upper links*/
  content:""; 
  border:1px solid #f36525;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
}
/*---------------------------------------------------------*/
.navbar-nav.ml-auto .nav-item .nav-link {/*change prop. of upper links*/
    color: #7C7C7C;
	font-family: Myriad Pro;
	font-size: 15px;
}
/*---------------------------------------------------------*/
.navbar{/*change color of line at bottom of upper hd*/
    border-bottom:0.5px solid #f36525;
  }
/*---------------------------------------------------------*/
.navbar{/*change space btw upper hd and courosel*/                  
padding-top: 0%;
margin-bottom: 1%; 
}
.nav-item {
  position: relative;
}
/*---------------------------------------------------------*/
.nav-item:before {/*change line show up at upper links*/
  content: "";
  position: absolute;
  width: 70%;
  height: 0.5px;
  bottom: 0;
  margin: -5px 0;
  background-color: #f36525; /*Follow your text color*/
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.nav-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/*---------------------------------------------------------*/
.navbar-nav>.active {/*change color of upper link*/
}
.navbar-nav>.active a {/*change color of upper link*/
  color: #000;
}

.nav-item>a:hover {
  color: #f36525!important;/*change color of upper link*/
}
/*---------------------------------------------------------*/
ul li {
  list-style: none;/*make space btw home about projec contact..*/
  margin: 3px
}
/*---------------------------------------------------------*/
p {
  line-height: 5px;/*make space btw Itza studio inc and it will be design by..*/
  margin: 10
	  px 0;
  word-spacing: 5px;
}
/*---------------------------------------------------------*/
h5 {
    color:#333333;/*change color size of text custom Res. Int. rem....*/
    font-family: "calibri";
	font-family: Myriad Pro;
	font-size: 17px;
	display: flex;
	align-items: flex-end;
   }
/*---------------------------------------------------------*/
.col-xl-4 {
	color:#7B7A7A;/*change Properties of text small addition or....*/
	font-family: Myriad Pro;
	font-size: 15px;
	width: 100%;
    float: left;
    background: transparent;
    margin-leftt: 100px;
}
.col-xl-2 {
	color:#7B7A7A;/*change Properties of 7219 new bond ct..*/
	font-family: Myriad Pro;
	font-size: 15px;
	width: 100%;
    float: left;
    background: transparent;
    margin-leftt: 100px;
	display: flex;
	align-items: flex-end;
}
.col-xl-4 {
    background-color: transparent;
	
}
.highlight-word-green{/*change font Propeties of Considering a project*/
	color:#677958;
	font-family: Myriad Pro;
	font-size: 25px;
	font-weight: 500;
	background: trt;
}
/*---------------------------------------------------------*/
.card {
width : 100%;
min-height: 100;
margin:  2%;
}
.card-img-top {
height: 380px;
object-fit: cover;
}
.card-body{
box-shadow: 0 0 0px 0px rgba(0,0,0,0.0);
}
.card-title{
  dwidth : 5%;
	
min-height: 5;
margin:  -1%;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
/*---------------------------------------------------------*/
.row {/*change color background of bottom footing only*/
  margin-top: auto;
  padding:8px;
  background: #F9F9F9;
}
/*---------------------------------------------------------*/
.row-middle{ /*change background of cards at middle*/
display: flex;
 gap: 0px;
 flex-wrap: wrap;
 width: 100%;}
/*---------------------------------------------------------*/
.col-md-4 {/*change border color of last 3 cards at middle*/
  margin-top: auto;
  border-color: white;	
}
.col-md-3 {/*change border color of 1st cards at middle*/
  margin-top: auto;
  border-color: white;	
}
/*---------------------------------------------------------*/   